@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,900');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

:root {
    --main-color: #2274A5; 
    --dark-text: #424242;
  }
  

*
{
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

/*=================================================
                    General Styles
==================================================*/

.header-shape-container
{
    width: 100%;
    padding: 10px 0px;
    margin-top: 120px;
    animation-delay: 0.3s;
}
.header-shape
{
    margin: 0 auto;

    height: 80px;
    width: 300px;
    background-color: var(--main-color);
    color: #fff;
    -webkit-clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
    clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

/*=================================================
                    Navigation
==================================================*/
nav
{
    position: absolute;
    top: 0;
    background-color: #fff;
    z-index: 7;
    width: 100%;
    height: 80px;
    box-shadow: 0 2px 8px -2px rgba(0,0,0,.2);

}
.logo
{
    float: left;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
}

.logo h1 a
{
    font-family: 'Pacifico';
    font-size: 2.3em;
    color: var(--main-color);
    text-decoration: none;
}
nav ul
{
    float: right;
    height: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}

nav li
{
    display: inline;
    padding: 0px 40px;
    text-align: center;
   
}

nav li a
{
    text-decoration: none;
    color: var(--main-color);
    font-size: 1.2em;
    cursor: pointer;
    transition: border 0.2s ease; 

}

nav li a:hover
{
    border-top: 3px solid var(--main-color);
}

.nav-sub-menu
{
    background-color: #fff;
    position: absolute;
    flex-direction: column;
    height: 150px;
    border-radius: 0px 0px 4px 4px;
    display: none;
    width: 150px;
    box-shadow: 0 2px 8px -2px rgba(0,0,0,.2);
}

li:hover .nav-sub-menu
{
    display: flex;
}

.nav-container-active
{
    display: flex;
}

.nav-sub-menu li  
{
    text-align: center;
    width: 250px; 
    padding: 20px 20px;
}


.down 
{
    font-size: 10px;
    display: inline;
}


/*=================================================
                    Landing
==================================================*/

.header
{
    height: 100vh;
    width: 100vw;
    background:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(../img/Swati-2.jpg);
    background-size:cover;
    background-position: left top;
}


.text-content
{
    position: absolute;
    bottom: 0;
    right: 30px;
    margin-bottom: 120px;    
}

.header-subtext
{
    font-weight: 400;
    font-size: 40px;
    color: #FFFFFF;
    animation-delay: 0.9s;
}


.landing-bio
{
    height: 400px;
    width: 100%;
    color: var(--dark-text);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;

    
}

.landing-bio-container
{
    height: 100%;
    width: 50%;
    padding: 60px 20px 0px;
}

.landing-bio-container h1
{
    color: var(--main-color);
    text-align: center;
    font-weight: 400;
}

.landing-bio-container hr
{
    width: 60%;
    margin: 0 auto;
    background-color: var(--dark-text);
    border-color: var(--dark-text);
}

.landing-bio-container iframe
{
    width: 80%;
    display: block;
    margin: 0 auto;
}

.landing-bio-left p
{
    font-size: 26px;
    margin: 0px 20px;
    padding-top: 15px;
    text-indent: 30px;
}

.landing-bio-left p span a
{
    color: var(--main-color);
    text-decoration: none;
}


/*=================================================
                    About
==================================================*/

/* Image */

.img-container
{
    text-align: center;
    padding: 10px 0px;
    margin-top: 80px;
    background: url(../img/swati-center.jpg);
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: 80% 20%;
    background-repeat: no-repeat;
}
/* Biography */


.biography-text
{
    padding: 50px 0px;
}

.biography-text p
{
    margin: 0px 200px;
    font-size: 30px;
    text-indent: 50px;
}

/* Accomplishments */
.accomplishments ul
{
    list-style-type: none;
}

.accomplishments li
{
    font-size: 30px;
    margin: 60px 0px;
    padding: 0px 90px;

}


.accomplishments-left
{
    float: left;
    height: 100%;
    width: 50%;
}

.accomplishments-right
{
    float: right;
    height: 100%;
    width: 50%;
}

.accomplishments:after 
{
    content: "";
    display: table;
    clear: both;
}

/*=================================================
                    Speaking
==================================================*/




/* Reviews */

.testimonials
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--main-color);
    height: 100%;
    padding: 90px 0px;
}

.testimonial-section
{
    width: 200px;
    height: 500px;
    
}

.testimonial-section img
{
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    text-align: center;
}

.testimonial-section p
{
    text-align: center;
    color: #fff;
}

.testimonial-section span
{
    font-weight: bold;
}



/*=================================================
                    Contact
==================================================*/

.form-container
{
    width: 100%;
    height: 700px;
    background-color: #9A2828;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}

.form
{
    width: 80%;
    height: 480px;
    box-shadow: 0 14px 11px 2px rgba(0,0,0,0.25);
    background-color: #FFFFFF;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.form-block
{
    text-align: center;
}

input[type=text], input[type=email] 
{
    height: 50px;
    width: 300px;
    margin: 5px 2px;
    box-shadow: none;
    border:none;
    background-image:none;
    background-color:#D8D8D8;
    padding-left: 5px;
    font-weight: 900;
    


}

.message
{
    height: 100px;
    width: 90%;
    color: #424242;
    background-color:#D8D8D8;
    box-shadow: none;
    border:none;
    background-image:none;
    padding-left: 5px;
    font-weight: 900;
    display: block;
    margin: 10px auto;
    padding-left: 5px;
    padding-top: 10px;
    resize: none;
    

}

button
{
    display: block;
    margin: 10px auto;
    padding: 20px 80px;
    background-color: #9A2828;
    color: #fff;
    border-radius: 60px;
    font-weight: 900;
    font-size: 1em;
    cursor: pointer;
    margin-top: 20px;
    appearance: none;
    -webkit-appearance: none;
}

.message::placeholder
{
    color: #424242;
    font-weight: 900;
    padding-left: 5px;
}
   

input[type=text]::placeholder, input[type=email]::placeholder
{
    color: #424242;
    font-weight: 900;
    padding-left: 5px;
}

.message-error
{
    background-color: #d9534f;
}

.message-success
{
    background-color: #5cb85c;
}

.send-message
{
    text-align: center;
    width: 90%;
    height: 80px;
    margin: 0 auto;
    color: #424242;
    margin-top: 20px;
    color: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*=================================================
                    Footer
==================================================*/

footer
{
    width: 100%;
    height: 150px;
    background-color: #424242;
    animation-delay: 0.5s;
}

.footer-left
{
    float: left;
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-right
{
    float: right;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #fff;
}

.footer-left img
{
    color: #fff;
    height: 100px;
    width: 200px;
    cursor: pointer;
}

.footer-right p
{
    padding: 0px 90px;
}

/*=================================================
                    Media Queries
==================================================*/


@media only screen and (max-width: 1200px) 
{
    /* Navigation */

    nav li
    {
        padding: 0px 30px;
    }

    /* Landing */
    .header-text
    {
        font-size: 115px;
        padding: 100px 0px;
    }




}

@media only screen and (max-width: 900px) 
{

    /* Navigation */

    nav li
    {
        padding: 0px 10px;
    }

     /* Landing */
    .header-text
    {
        font-size: 100px;
        letter-spacing: 20px;
        padding: 85px 0px;

    }
    
    .social-container li a
    {

        font-size: 2em;
    }

    /* Biography */

    .img-container img
    {
        width: 600px;
        height: 400px;
    }
    .biography-text p
    {
        margin: 0px 60px;
        font-size: 22px;
    }

    /* Speaking */
    .accomplishments li
    {
        padding: 0px 40px;
    }

    .testimonial-section
    {
        width: 650px;
    }

    .testimonial-section p
    {
        font-size: 1.6em;
    }

}

@media only screen and (max-width: 700px) 
{   
    /* Navigation */

    nav li
    {
        padding: 0px 8px;
    }

    nav li a
    {
        font-size: 1.7em;
    }

    /* Landing */

    .swati-header
    {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 499px;

    }

    .social-container, .header-text, .header-subtext
    {
        margin-left: 0px;
        text-align: center;
    }

    .text-content
    {
        width: 100%;
        max-width: 1000px;
    }

    .header-text
    {
        font-size: 70px;
    }

    .header-subtext
    {
        font-size: 1.5em;

    }

    .social-container li a
    {

        font-size: 1.5em;
    }

    /* Biography */

    .img-container img
    {
        width: 400px;
        height: 250px;
    }
    .biography-text p
    {
        margin: 0px 40px;
        font-size: 22px;
        text-indent: 30px;
    }

      /* Speaking */
      .accomplishments li
      {
          padding: 0px 40px;
      }
  
      .testimonial-section
      {
          width: 490px;
      }
  
      .testimonial-section p
      {
          font-size: 1.3em;
      }

    /* Footer */

    .footer-right p
    {
        padding: 0px 20px;
    }

    .footer-left img
    {
        height: 100px;
        width: 180px;
    }


}

@media only screen and (max-width: 500px) 
{
    /* Navigation */

    nav li
    {
        padding: 0px 8px;
    }

    nav li a
    {
        font-size: 1.2em;
    }

    .nav-sub-menu
    {
        width: 150px;
    }

    .nav-sub-menu li
    {
        width: 150px;
    }

    /* Landing */

    .swati-header
    {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 360px;
        height: 590px;

    }
    .header-text
    {
        font-size: 60px;
        letter-spacing: 10px;
    }

    .social-container li a
    {
        font-size: 1.2em;
    }

    .header-subtext
    {
        font-size: 1.3em;
    }

    /* Biography */

    .img-container img
    {
        width: 320px;
    }

    /* Speaking */
    .accomplishments li
    {
        padding: 0px 15px;
        font-size: 15px;
        margin: 35px 0px;
    }

    .testimonial-section
    {
        width: 320px;
        height: 250px;
    }

    .testimonial-section p
    {
        font-size: 1em;
        margin: 0px 35px;
    }

    /* Contact */

    .form-block input
    {
        width: 90%;
    }

    /* Footer */

    footer
    {
        height: 100%;
        padding: 20px 0px;
    }
    .footer-left
    {
        float: none;
        display: block;
        width: 100%;
        text-align: center;
    }

    .footer-right
    {
        float: none;
        display: block;
        width: 100%;
        text-align: center;
    }

}

@media only screen and (max-width: 360px) 
{
    /* Navigation */

    nav li
    {
        padding: 0px 4px;
    }

    nav li a
    {
        font-size: 1em;
    }
    
    /* Landing */

    .header-text
    {
        letter-spacing: 5px;
        font-size: 55px;
    }
    .swati-header
    {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 320px;
        height: 610px;

    }
}

/*DEVICE HEIGHT*/
@media only screen and (max-height: 780px) 
{
    .swati-header
    {
        height: 650px;
    }
    
}

@media only screen and (max-height: 700px) 
{
    .swati-header
    {
        height: 550px;
    }
    
    .header-text
    {
        padding: 60px 0px;
    }
}

@media only screen and (max-height: 630px) 
{
    .swati-header
    {
        height: 500px;
    }

    .header-text
    {
        padding: 30px 0px;
    }
    
}

/* Special Devices Lengths */

@media only screen and (max-height: 700px) and (min-width: 1200px)
{
    .header-text
    {
        padding: 25px 0px;
    }
}